<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.isd_2019">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".paymentList"
            android:parentActivityName=".homepage"/>
        <activity android:name=".ProfileActivity"
            android:parentActivityName=".homepage"/>
        <activity android:name=".settingActivity"
            android:parentActivityName=".homepage"/>
        <activity android:name=".creditcardActivity"
            android:parentActivityName=".homepage"/>
        <activity android:name=".contactUsActivity"
            android:parentActivityName=".homepage"/>
        <activity android:name=".editProfileActivity"
            android:parentActivityName=".ProfileActivity"/>
        <activity android:name=".aboutUsActivity"
            android:parentActivityName=".settingActivity"/>
        <activity android:name=".addCCActivity"
            android:parentActivityName=".addCCActivity"/>
        <activity android:name=".SinglePayment"
            android:parentActivityName=".paymentList"/>
        <activity android:name=".Pay"
            android:parentActivityName=".SinglePayment"/>
        <activity android:name=".Forget_Password" />
        <activity android:name=".appVersion"
            android:parentActivityName=".settingActivity"/>
        <activity android:name=".deviceGuide"
            android:parentActivityName=".settingActivity"/>
        <activity android:name=".Language"
            android:parentActivityName=".settingActivity"></activity>
    </application>

</manifest>